{% load static %}
{% include 'chats/partials/threads.html#search-user-form' %}
{% for user in users %}
<div class="flex gap-1 min-h-18 h-fit justify-center items-center" id="{{ user.id }}" :class="{ 'bg-gray-800': active === {{ user.id }} }">
    <div class="flex justify-between items-center">
        {% if user.profile_photo %}
        <img class="size-15 p-1 rounded-full border border-gray-700" src="{{ user.profile_photo.url }}"
            alt="Profile Picture">
        {% else %}
        <img class="size-15 p-1 rounded-full border border-gray-700" src="{% static 'images/default_profile.png' %}"
            alt="Default profile">
        {% endif %}
    </div>
    <div class="flex flex-col gap-1 p-1 flex-1">
        <div class="flex justify-between mr-1">
            <h1 class="font-semibold text-sm xl:text-xl">{{ user.get_full_name }}</h1>
            <a hx-get="{% url 'search-chat' other_user_id=user.id %}" @click="active = {{ user.id }}; hide_list = true;" :hx-target="'#' + $id('chat-window')" hx-swap="innerHTML" class=" bg-indigo-500 rounded-full px-3 py-2 font-semibold cursor-pointer">Message</a>
        </div>
    </div>
</div>
<hr class="border-t-2 border-gray-800 mb-1">
{% empty %}
<div class="flex justify-center items-center flex-1">
    <p class="text-gray-500 font-bold"> No such users found</p>
</div>
{% endfor %}