{% load humanize %}
{% load static %}
<div class="flex justify-center items-center gap-1">
    {% if other_user.profile_picture %}
    <img class="size-10 rounded-full border p-1 border-gray-700" src="{{ other_user.profile_photo.url }}" alt="Profile Picture">
    {% else %}
    <img class="size-12 rounded-full border p-1 border-gray-700" src="{% static 'images/default_profile.png' %}" alt="Default profile">
    {% endif %}
    <h1 class="text-center text-base xl:text-2xl">{{ other_user.get_full_name }}</h1>
</div>
<p class="text-center mb-2 text-xs xl:text-base">Messages are automatically deleted after 7 days.</p>

<div class="flex-1 scrollbar-none overflow-y-auto min-h-0"  x-init="$el.scrollTo(0, $el.scrollHeight)" id="thread-messages">
    {% for message in messages %}
    {% partialdef send-thread-message inline %}
    {% if message.author == other_user %}
    <div class="chat chat-start">
        <div class="chat-header">
            <time class="text-xs opacity-50">{{ message.created_at|naturaltime }}</time>
        </div>
        <div class="chat-bubble text-sm xl:text-base">
            {{ message.body }}
        </div>
    </div>
    {% else %}
    <div class="chat chat-end">
        <div class="chat-header">
            <time class="text-xs opacity-50">{{ message.created_at|naturaltime }}</time>
        </div>
        <div class="chat-bubble text-sm xl:text-base chat-bubble-primary">
            {{ message.body }}
        </div>
    </div>
    {% endif %}
    {% endpartialdef send-thread-message %}
    {% endfor %}
</div>

<form class="relative" hx-post="{% url 'send-thread-message' thread_id=thread_id %}" hx-swap="beforeend scroll:#thread-messages:bottom" hx-target="#thread-messages"  hx-on::after-request="this.reset()" >
    {{ form.body }}
    {% partialdef send-button inline %}
    <button type="submit" class="absolute right-3 top-1/2 -translate-y-1/2 bg-blue-500 rounded-2xl p-1.5">
        <img class="size-4.5" draggable="false" alt="Send" src="{% static 'chats/icons/svg/send.svg' %}">
    </button>
    {% endpartialdef send-button %}
</form>