{% load static %}
{% load humanize %}
<form action="#" class="relative p-1">
    <input type="search" id="search" class="form-input h-13" placeholder="Search for users in joined organizations">
    <button class="bg-blue-500 rounded-2xl p-2 absolute right-3 top-1/2 -translate-y-1/2">
        <img class="size-4.5" draggable="false" alt="Search" src="{% static 'chats/icons/svg/search.svg' %}">
    </button>
</form>
{% for thread in threads %}
<div class="flex gap-1 min-h-18 h-fit" hx-get="{% url 'thread' thread_id=thread.id %}" id="{{ thread.id }}" @click="active = {{ thread.id }}; hide_list = true;" :class="{ 'bg-gray-800': active === {{ thread.id }} }" :hx-target="'#' + $id('chat-window')" hx-swap="innerHTML">
    <div class="flex justify-between items-center">
        {% if  thread.other_user.profile_photo %}
        <img class="size-15 p-1 rounded-full border border-gray-700" src="{{ thread.other_user.profile_photo.url }}" alt="Profile Picture">
        {% else %}
        <img class="size-15 p-1 rounded-full border border-gray-700" src="{% static 'images/default_profile.png' %}" alt="Default profile">
        {% endif %}
    </div>
    <div class="flex flex-col gap-1 p-1 flex-1">
        <div class="flex justify-between mr-1">
            <h1 class="font-semibold text-sm xl:text-xl">{{ thread.other_user_name }}</h1>
            {% if thread.last_message_time %}
            <p class="text-gray-400 text-sm xl:text-base">{{ thread.last_message_time|naturaltime }}</p>
            {% endif %}
        </div>
        {% if thread.last_message_body %}
        <div class="flex gap-1 text-gray-400">
            <p class="text-xs xl:text-base">{{ thread.last_message_body }}</p>
        </div>
        {% endif %}
    </div>
</div>
<hr class="border-t-2 border-gray-800 mb-1">
{% empty %}
<div class="flex justify-center items-center  flex-1">
    <p class="text-gray-500 font-bold"> No Recent chats</p>
</div>
{% endfor %}