{% load humanize %}
{% load static %}
<div class="flex justify-center items-center gap-1 relative" x-data="{ is_online: {{ is_online|lower }} }">
    <div class="size-3 rounded-full absolute left-0 top-0" :class="is_online ? 'bg-green-500' : 'bg-gray-500'"></div>
    {% if other_user.profile_photo %}
    <img class="size-12 rounded-full border p-1 border-gray-700" src="{{ other_user.profile_photo.url }}" alt="Profile Picture">
    {% else %}
    <img class="size-12 rounded-full border p-1 border-gray-700" src="{% static 'images/default_profile.png' %}" alt="Default profile">
    {% endif %}
    <h1 class="text-center text-base xl:text-2xl">{{ other_user.get_full_name }}</h1>
</div>
<div class="flex flex-col md:flex-row items-center justify-center gap-2 text-center mb-2 text-xs xl:text-base">
    {% if not is_online %}
        <p class="text-gray-500"><b><i>Last seen {{ other_user.last_seen|naturaltime }}.</i></b></p>
    {% else %}
        <p class="text-green-500"><b><i>Online</i></b></p>
    {% endif %}
    <p>Messages are automatically deleted after 7 days.</p>
</div>
<div class="flex flex-col flex-1 scrollbar-none overflow-y-auto min-h-0" x-data="{active_dropdown : null}" x-init="$el.scrollTo(0, $el.scrollHeight)" id="thread-messages" >
    {% for message in messages %}
    {% partialdef send-thread-message inline %}
    {% if message.author.id == other_user.id %}
    <div class="chat chat-start"  id="{{ message.id }}">
        <div class="chat-header">
            <time class="text-xs opacity-50">{{ message.created_at }}</time>
        </div>
        <div class="chat-bubble text-sm xl:text-base">
            {{ message.body }}
        </div>
        {% if message.is_edited %}
        <div class="chat-footer opacity-50">
            Edited
        </div>
        {% endif %}
    </div>
    {% else %}
    {% partialdef user-message inline  %}
    <div class="chat chat-end" id="{{ message.id }}" >
        <div class="chat-header">
            <time class="text-xs opacity-50">{{ message.created_at }}</time>
        </div>
        <div class="chat-bubble text-sm xl:text-base chat-bubble-primary relative" @contextmenu.prevent="active_dropdown = {{ message.id }}">
            {{ message.body }}
            {% if message.is_editable %}
            <div  x-cloak  x-transition @click.outside="active_dropdown = null" class="absolute bottom-0 right-0 mb-2 rounded-2xl shadow-lg z-50 bg-gray-900" x-show="active_dropdown === {{ message.id }}">
                <ul class="p-2 text-xs xl:text-sm text-body font-medium" >
                    <li @click="active_dropdown = null">
                        <a hx-get="{% if message_type == 'thread' or thread_id %}{% url 'edit-thread-message' thread_message_id=message.id %}{% elif message_type == 'room' or room_name %}{% url 'edit-room-message' room_message_id=message.id %}{% endif %}" hx-swap="innerHTML" @click="message_modal.showModal();" hx-target="#modal_container" class="inline-flex items-center w-full p-2 text-gray-200 hover:bg-blue-500 hover:text-white hover:rounded-lg">Edit</a>
                    </li>
                    <li @click="active_dropdown = null">
                        <a class=" inline-flex items-center w-full p-2 text-gray-200 hover:bg-red-500 hover:text-white hover:rounded-lg">Delete</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        {% if message.is_edited %}
        <div class="chat-footer opacity-50">
            Edited
        </div>
        {% endif %}
        {% if message.is_editable %}
        <img class="size-3" src="{% static 'chats/icons/svg/three-dots-vertical.svg' %}" alt="menu" @click="active_dropdown = {{ message.id }}">
        {% endif %}
    </div>
    {% endpartialdef user-message %}
    {% endif %}
    {% endpartialdef send-thread-message %}
    {% empty %}
    <div class="flex flex-col  items-center justify-center flex-1">
        <p class="text-gray-600"><b><i>No messages yet.</i></b></p>
    </div>
    {% endfor %}
</div>

<form class="relative" hx-ext="ws" ws-connect="/ws/chats/users/{{ request.user.id }}/{{ other_user.id }}/" ws-send @htmx:ws-after-message="document.getElementById('thread-messages').scrollTo(0, document.getElementById('thread-messages').scrollHeight); $el.reset()">
    {{ form.body }}
    {% partialdef send-button inline %}
    <button type="submit" class="absolute right-3 top-1/2 -translate-y-1/2 bg-blue-500 rounded-2xl p-1.5">
        <img class="size-4.5" draggable="false" alt="Send" src="{% static 'chats/icons/svg/send.svg' %}">
    </button>
    {% endpartialdef send-button %}
</form>
{% partialdef message-modal inline %}
<dialog id="message_modal" class="modal modal-bottom sm:modal-middle" @close="setTimeout(() => {modal_container.innerHTML = '';}, 200);">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div id="modal_container"></div>
    </div>                
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>
{% endpartialdef message-modal %}