<form hx-post="{% url 'transfer-root-ownership' org_id=org_id %}" hx-indicator="#loading" @transfer-root-owner-otp-verified="org_modal.close(); ">
    <div class="flex flex-col gap-3 items-center">
        <h1>Transfer Ownership {{ root_org_name }}</h1>
        <p>Enter the OTP sent to your email.</p>
        <label class="otp">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type="text" autocomplete="one-time-code" name="otp" inputmode="numeric" maxlength="6" pattern="[0-9]{6}" required />
        </label>
        <div class="flex gap-3">
            <button class="base-button bg-red-500 hover:bg-red-700 w-50" type="submit" >Confirm Transfer</button>
            <button class="base-button bg-blue-500 hover:bg-blue-700 w-50" type="reset" >Reset</button>
        </div>
        
        <div class="h-10">
            <span class="loading loading-spinner loading-xl htmx-indicator ml-auto" id="loading"></span>
            {% include "partials/messages.html" %}
        </div>
    </div>
</form>