{% extends "base.html" %}
{% load static %}
{% block title %}Organization{% endblock %}

{% block content %}

<div class="page-container" id="page-container" hx-history-elt>
    {% partialdef view-root-config inline %}
        <div class="flex flex-col p-2 md:p-5 gap-5 min-h-0 flex-auto" x-data>
            <h1 class="text-center text-2xl md:text-4xl">{{root_org_name}}</h1>
            <div class="bg-blue-500 p-3 flex justify-between items-center rounded-2xl">
                <h1 class="text-lg md:text-3xl">Owner</h1>
                {% if is_owner %}
                <a href="#" class="w-fit base-button bg-red-500 hover:bg-red-700 ">Transfer Ownership</a>
                {% endif %}
            </div>
            
            <p class="md:text-xl font-bold px-5">{{ owner.get_full_name }}</p>
            <div class="flex flex-col md:flex-row flex-auto min-h-0 gap-3 ">
                <div class="flex flex-col flex-auto min-h-0 gap-3 h-75 md:h-full md:w-50">
                    <div class="bg-blue-500 p-3 flex justify-between items-center rounded-2xl">
                        <h1 class="text-lg md:text-3xl">Admins</h1>
                            {% if is_admin_or_owner %}
                            <a href="{% url 'create-admin' org_id=root_org_id %}" class="w-fit base-button bg-indigo-600 hover:bg-indigo-800 ">Create</a>
                            {% endif %}
                    </div>
                    <div class="overflow-y-auto flex-auto min-h-0">
                        <div class="px-5">
                            {% for admin in admins %}
                            <div class="flex justify-between items-center md:h-10" id="admin-{{ admin.id }}">
                                <p class="md:text-xl font-bold">{{ admin.get_full_name }}</p>
                                {% if is_admin_or_owner %}
                                <button class="size-8 md:size-10 cursor-pointer" type="button" hx-get="{% url 'revoke-org-admin' org_id=root_org_id admin_id=admin.id %}" hx-target="#modal_container" hx-swap="innerHTML">
                                    <!--For @click to work there should be x-data available in ancestors-->
                                    <img class="size-6 md:size-8" src="{% static 'orgs/icons/svg/delete-left.svg' %}" alt="Remove" title="Remove" @click="org_modal.showModal();"> 
                                </button>
                                {% endif %}
                            </div>
                            {% empty %}
                                <p class="md:text-xl font-semibold text-gray-400">Organization does not have any admins yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="flex flex-col flex-auto min-h-0 gap-3 h-75 md:h-full md:w-50">
                    <div class="bg-blue-500 p-3 flex justify-between items-center rounded-2xl">
                        <h1 class="text-lg md:text-3xl">Teachers</h1>
                        {% if is_admin_or_owner %}
                            <a href="{% url 'send-invitation' org_id=root_org_id %}" class="w-fit base-button bg-indigo-600 hover:bg-indigo-800 ">Invite</a>
                        {% endif %}
                    </div>
                    <div class="overflow-y-auto flex-auto min-h-0">
                        <div class="px-5">
                            {% for teacher in teachers %}
                            <div class="flex justify-between items-center md:h-10" id="teacher-{{ teacher.id }}">
                                <p class="md:text-xl font-bold">{{ teacher.get_full_name }}</p>
                                {% if is_admin_or_owner %}
                                <button class="size-8 md:size-10 cursor-pointer" type="button" @click="org_modal.showModal();" hx-get="{% url 'revoke-org-membership' org_id=root_org_id teacher_id=teacher.id %}" hx-target="#modal_container" hx-swap="innerHTML">
                                    <img class="size-6 md:size-8" src="{% static 'orgs/icons/svg/delete-left.svg' %}" alt="Remove" title="Remove">
                                </button>
                                {% endif %}
                            </div>
                            {% empty %}
                                <p class="md:text-xl font-semibold text-gray-400">Organization does have any teachers yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% include "orgs/view_orgs_and_classrooms.html#org-modal" %} 
        </div>
    {% endpartialdef view-root-config %}
</div>

{% endblock content %}