{% extends "base.html" %}
{% load static %}

{% block title %}Organizations{% endblock %}

{% block content %}

<!--hx-boost allows anchor tags to use AJAX and hx-history tells which part of the page will be used for snapshot during navigations-->
<div class="page-container" id="page-container" hx-target="#page-container" hx-boost="true" hx-history-elt >

    {% partialdef view-org inline %}
    <div class="flex flex-col flex-auto" x-data="{ formOpen: false }" >
        <!--Create Root org-->
        {% if root_org_view %}
        <div class="flex ml-auto">
            <button class="w-fit base-button bg-blue-500 hover:bg-blue-700 " @click="create_root_modal.showModal();"
            hx-get="{% url 'create-root-org' %}" hx-target="#modal_container" hx-swap="innerHTML">
                Create Root Organization
            </button>
        </div>
        {% endif %}

        <!-- Action Buttons -->
            {% if classroom_view %}
            <div class="flex ml-auto">
                <button class="w-fit base-button bg-blue-500 hover:bg-blue-700 " x-bind:disabled = "formOpen" @click="formOpen = true" @classroom-created.window="formOpen = false"
                hx-get="{% url 'create-classroom' org_path=current_org_path org_id=current_org_id %}" hx-target="#main-list" hx-swap="afterbegin">
                Create Classroom</button>
            </div>
            {% elif child_org_view %}
                <div class="flex justify-between gap-x-3">
                    <!--When we create view-config and move these button there, there is no need to extract root from node.-->
                    <div class="flex gap-x-3">
                        <a href="{% url 'send-invitation' org_id=current_org_id %}" class="w-fit base-button bg-blue-500 hover:bg-blue-700 ">Add Teachers</a>
                        <a href="{% url 'create-admin' org_id=current_org_id %}" class="w-fit base-button bg-blue-500 hover:bg-blue-700 ">Create Admins</a>
                    </div>
                    <button class="w-fit base-button bg-blue-500 hover:bg-blue-700 " x-bind:disabled = "formOpen" @click="formOpen = true" @child-org-created.window="formOpen = false"
                    hx-get="{% url 'create-child-org' org_path=current_org_path org_id=current_org_id %}" hx-target="#main-list" hx-swap="afterbegin" >
                    Create {{ node_label }}</button>
                </div>
            {%endif %}

        <!--Breadcrumb-->
        <div class="breadcrumbs text-sm md:text-lg mt-3">
            <ul>
                <li>
                    <a href="{% url 'view-root-orgs' %}">
                        <img class="size-5" src="{% static 'orgs/icons/svg/home.svg' %}" alt="Home Icon">
                        Home
                    </a>
                </li>
                {% if breadcrumbs %}
                    {% for node in breadcrumbs %}
                        <li>
                            <a href="{% url 'view-child-orgs' org_path=node.path %}">
                                <img class="size-5" src="{% static 'orgs/icons/svg/folder.svg' %}" alt="Organization Icon">
                                {{ node.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
                {% if current_org_name %}
                    <li>
                        <img class="size-5 mr-2" src="{% static 'orgs/icons/svg/folder.svg' %}" alt="Current Organization Icon">
                        {{ current_org_name }}
                    </li>
                {% endif %}
            </ul>
        </div>

        <!--Main List View-->
        <div class="flex flex-col flex-auto">
            {% if root_org_view %}
            <h1 class="px-1 my-2 md:text-4xl">Organizations</h1>
            {% elif child_org_view %}
                <div class="flex items-center px-1 my-2 md:text-4xl gap-x-2">
                    <h1 class="px-1 my-2 md:text-4xl" >{{ node_label }}</h1>
                    {% if org_role %}
                    <div class="badge badge-soft badge-info mt-1">{{ org_role }}</div>
                    {% endif %}
                </div>
            {% elif classroom_view %}
                <h1 class="px-1 my-2 md:text-4xl">Classes</h1>
            {% endif %}
            <div class="flex flex-wrap" id="main-list">
                {% if orgs %}
                    {% for org in orgs %}
                        {% partialdef org-row inline %}
                            <div class="flex flex-col items-center text-md md:text-lg py-3 px-3 lg:px-6 gap-x-2 cursor-pointer">
                                <a href="{% url 'view-child-orgs' org_path=org.path  %}" class="text-center">
                                    <img class="size-10 block mx-auto" src="{% static 'orgs/icons/svg/folder.svg' %}" alt="Folder">
                                    <p class="font-bold">{{ org.name }}</p>
                                </a>
                                {% if root_org_view %}
                                    <div class="badge badge-soft badge-success">{{ org.role }}</div>
                                {% endif %}
                            </div>
                            {% include "partials/messages.html" %} <!--POST request send messages.-->
                        {% endpartialdef org-row %}
                    {% endfor %}
                {% elif classrooms %}
                    {% for classroom in classrooms %}
                        {% partialdef classroom-row inline %}
                            <div class="flex flex-col items-center text-md md:text-lg py-3 px-3 lg:px-6 cursor-pointer">
                                <a href="{% url 'view-classroom' classroom_path=classroom.path  %}" class="text-center">
                                    <img class="size-15 block mx-auto" src="{% static 'orgs/icons/svg/classroom.svg' %}" alt="Classroom">
                                    <label class="font-bold">{{ classroom.name }}</label>
                                </a>
                            </div>
                            {% include "partials/messages.html" %} 
                        {% endpartialdef classroom-row %}
                    {% endfor %}
                {% endif %}

            </div>
            {% if not classrooms and not orgs %}
                <div  class="flex flex-col flex-auto justify-center items-center" @child-org-created.window="$el.remove();"><!--Need bubble up, from child to parent-->
                    <span class=" text-gray-500 font-semibold text-lg">It's empty down here</span>
                </div>
            {% endif  %}
        </div>

        {% if root_org_view %}
            <dialog id="create_root_modal" class="modal modal-bottom sm:modal-middle"  @root-org-created="$el.close();" x-data @close="setTimeout(() => {modal_container.innerHTML = '';}, 200);">
                <div class="modal-box">
                    <div id="modal_container"></div>
                </div>                
                <form method="dialog" class="modal-backdrop">
                    {% csrf_token %}
                    <button>close</button>
                </form>
            </dialog>
        {% endif %}
    </div>
    {% endpartialdef view-org %}
</div>
{% endblock content %}

<!--Add form for org_add and root_add and class_id and HTMX loading of orgs and create forms and delete (require email). 
Also add levels like department -> Section -> Subject
Add class and add admin and add teachers. Add delete orgs that requires email
-->   