{% if messages %}
<div class="fixed bottom-1 right-1 z-50 flex flex-col gap-2">
    {% for message in messages %}
    <div role="alert" class="alert alert-outline text-wrap m-4 max-w-md lg:max-w-lg opacity-100 transition-opacity duration-1000
    {% if message.tags == 'error' %}
    alert-error 
    {% elif message.tags == 'info' %}
    alert-info
    {% elif message.tags == 'success' %}
    alert-success
    {% elif message.tags == 'warning' %}
    alert-warning
    {% endif %}">
        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}