{% extends "base.html" %}

{% block title %} My Dashboard {% endblock %}

{% block content %}
<div class="page-container" id="page-container" hx-target="#page-container" hx-boost="true" hx-history-elt>
    {% partialdef dashboard inline %}
    <title>My Dashboard</title>
    <div class="flex flex-col gap-y-3">
        <h1>Welcome to Dashboard page</h1>
        {% if request.user.user_type == 'T' %}
        <a href="{% url 'view-root-orgs'  %}" class="base-button w-fit bg-blue-500 hover:bg-blue-700">View Orgs</a>
        {% elif request.user.user_type == 'S' %}
        <a href="{% url 'list-classrooms'  %}" class="base-button w-fit bg-blue-500 hover:bg-blue-700">View Classrooms</a>
        {% endif %}
    </div>
    {% endpartialdef %}    
</div>
{% endblock %}