{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="page-container">
    <div class= "flex flex-col gap-y-3"> 
        <h1>Welcome to Gurukul</h1>
        <p>This is the landing page.</p>
        <div class="flex gap-x-3 text-center">
        <a class="base-button w-25 bg-blue-500 hover:bg-blue-700" href="{% url 'login' %}">Login </a>
        <a class="base-button w-25 bg-blue-500 hover:bg-blue-700" href="{% url 'register-email' %}">Register </a>
        </div>
    </div>
</div>
{% endblock %}