{% extends "base.html" %}
{% load static %}

{% block title %} Login Page {% endblock title%}
{% block content %}

<main class="min-h-screen flex flex-col items-center justify-center bg-black">
    <div class="py-4 px-4 md:px-8">
        <div class="grid items-center gap-6 max-w-6xl w-full lg:grid-cols-2">
            <div class="border rounded-lg p-6 max-w-md mx-auto shadow-sm md:p-8 lg:mx-0 border-neutral-700">
                <div class="mb-8">
                    <h1 class=" text-3xl font-bold mb-4 text-slate-50">Sign in</h1>
                </div>
                <form class="space-y-6" method="post">
                    {% csrf_token %}
                    <div>
                        <label
                            class="mb-2 font-medium text-sm inline-block text-slate-50">{{form.username.label}}</label>
                        {{ form.username }}
                    </div>
                    <div>
                        <label
                            class="mb-2 font-medium text-sm inline-block text-slate-50">{{form.password.label}}</label>
                        {{ form.password }}
                    </div>
                    <div class="flex items-start flex-wrap gap-2">
                        <div>{{ form.remember_me }}</div>
                            <span class="ml-1 text-sm  text-slate-300">
                                {{ form.remember_me.label }}
                            </span>

                        <a href="{% url 'reset-password' %}"
                            class="ml-auto text-sm font-medium text-blue-500 hover:underline focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">
                            Forgot password?
                        </a>
                    </div>

                    <button type="submit"
                        class="w-full py-2 px-3.5 text-sm rounded-md font-semibold cursor-pointer tracking-wide text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">
                        Sign in
                    </button>

                    <div class=" text-sm text-center text-slate-50">Don't have an account? <a
                            href="{% url 'register-email' %}"
                            class=" hover:underline ml-1 font-medium text-blue-500 focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 rounded">Sign
                            up</a>
                    </div>
                </form>
                <div class="my-8 flex items-center gap-4">
                    <hr class="w-full  border-neutral-700" />
                    <p class="text-sm  text-center text-slate-300">or</p>
                    <hr class="w-full border-neutral-700" />
                </div>
                {% partialdef social-auth inline %}
                <div class="flex flex-col gap-y-3">
                    <div>
                        <a href="{% url 'social:begin' 'google-oauth2' %}"
                            class="w-full flex items-center justify-center gap-2.5 py-2 px-3.5 text-sm rounded-md font-semibold  border focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 text-slate-50 border-neutral-700 bg-bg-black hover:bg-neutral-700">
                            <img class="size-[18px] mt-0.5" src="{% static 'users/icons/svg/google.svg' %}" alt="Google Icon">
                            Sign in with Google
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'social:begin' 'github' %}"
                            class="w-full flex items-center justify-center gap-2.5 py-2 px-3.5 text-sm rounded-md font-semibold  border focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 text-slate-50 border-neutral-700 bg-bg-black hover:bg-neutral-700">
                            <img class="size-[20px] mt-0.5" src="{% static 'users/icons/svg/github.svg' %}" alt="Github Icon">
                            Sign in with Github
                        </a>
                    </div>
                </div>
                {% endpartialdef %}
            </div>
            <div class="aspect-[71/50] max-lg:w-4/5 mx-auto">
                <img src="https://readymadeui.com/images/integration-illus.webp" class="w-full object-cover"
                    alt="login img" />
            </div>
        </div>
    </div>
</main>

{% include "partials/form_errors.html#form-errors" %}
{% endblock content %}