{% extends "base.html" %}
{% load static %}

{% block title %} Login Page {% endblock title%}
{% block content %}

<main class="page-container items-center justify-center ">
    <div class="grid items-center gap-6 max-w-6xl lg:grid-cols-2">
        <div class="bordered-card mx-auto lg:mx-0"> <!--in split screen layout the card should be center in md screen but at start when screen is large, so we can show the image -->
            <div class="mb-8">
                <h1>Sign in</h1>
            </div>
            <form class="space-y-6" method="post">
                {% csrf_token %}
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.username.label}}</label>
                    {{ form.username }}
                </div>
                <div x-data="{showPass:false}">
                    <label class="mb-2 text-sm form-label">{{form.password.label}}</label>
                    <div class="relative">
                        {{ form.password }}
                        {% partialdef toggle-password-btn inline %}
                        <button type="button" @click="showPass = !showPass" class="absolute right-3 top-1/2 -translate-y-1/2">
                            <img class="size-4.5" draggable="false" alt="Toggle password visibility" :src="showPass
                                    ? '{% static 'users/icons/svg/eye-password-hide.svg' %}'
                                    : '{% static 'users/icons/svg/eye-password-show.svg' %}'"
                            >
                        </button>
                        {% endpartialdef %}
                    </div>
                </div>
                <div class="flex justify-between gap-2">
                    <div>
                        {{ form.remember_me }}
                        <span class="ml-1 text-sm  text-slate-300">
                            {{ form.remember_me.label }}
                        </span>
                    </div>
                    <a href="{% url 'reset-password' %}" class="hyperlink"> Forgot password?</a>
                </div>

                <button type="submit"
                    class="base-button bg-blue-600 hover:bg-blue-700">
                    Sign in
                </button>

                <div class="text-sm text-center text-slate-50">Don't have an account?
                    <a href="{% url 'register-email' %}" class=" hyperlink">Register</a>
                </div>
            </form>
            {% partialdef social-auth inline %}
            <div class="my-8 flex items-center gap-4">
                <hr class="w-full  border-neutral-700" />
                <p class="text-sm  text-center text-slate-300">OR</p>
                <hr class="w-full border-neutral-700" />
            </div>

            <div class="flex flex-col gap-y-3">
                <div>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"
                        class="w-full flex items-center justify-center gap-2.5 py-2 px-3.5 text-sm rounded-md font-semibold border text-slate-50 border-neutral-700 hover:bg-neutral-900">
                        <img class="size-4.5 mt-0.5" src="{% static 'users/icons/svg/google.svg' %}" alt="Google Icon">
                        Sign in with Google
                    </a>
                </div>
                <div>
                    <a href="{% url 'social:begin' 'github' %}"
                        class="w-full flex items-center justify-center gap-2.5 py-2 px-3.5 text-sm rounded-md font-semibold border text-slate-50 border-neutral-700 hover:bg-neutral-900">
                        <img class="size-5 mt-0.5" src="{% static 'users/icons/svg/github.svg' %}" alt="Github Icon">
                        Sign in with Github
                    </a>
                </div>
            </div>
            {% endpartialdef %}
        </div>
        <div class="aspect-71/50 max-lg:w-4/5 mx-auto">
            <img src="https://readymadeui.com/images/integration-illus.webp" class="w-full object-cover"
                alt="login img" />
        </div>
    </div>
</main>

{% include "partials/form_errors.html#form-errors" %}
{% endblock content %}