{% load static %}
<div class="bg-slate-950 p-3 flex items-center flex-wrap justify-between">

    <div class="flex items-center text-white gap-x-3">
        <p class="text-3xl font-extrabold font-mono mr-5 hover:scale-105">Gurukul</p>
        <a href="{% url 'users-dashboard' %}" hx-get="{% url 'users-dashboard' %}" hx-push-url="true"
            hx-target="#page-container" hx-swap="innerHTML" class="font-semibold hover:text-blue-400">
            Dashboard
        </a>
    </div>
    <div class="relative flex items-center text-white" x-data="{ open: false }">
        <div class="flex items-center justify-center gap-x-3">
            <a href="{% url 'view-invitations' %}" hx-get="{% url 'view-invitations' %}" hx-swap="innerHTML" hx-target="#page-container" hx-push-url="true"><img class="size-10 p-1" src="{% static 'icons/svg/invitations.svg' %}" alt="Invitations"></a>
            <button @click="open = ! open" type="button" class="  flex text-sm rounded-full focus:ring-2">
                {% if user.profile_photo %}
                <img class="size-10 p-1 rounded-full" src="{{ user.profile_photo.url }}" alt="Profile Picture">
                {% else %}
                <img class="size-10 p-1 rounded-full" src="{% static 'images/default_profile.png' %}"
                    alt="Default profile">
                {% endif %}
            </button>
        </div>
        <!-- Dropdown menu -->
        <div x-show="open" x-cloak  x-transition @click.outside="open = false" class="absolute right-0 top-full z-50 rounded-base shadow-lg  bg-slate-950">
            <div class="px-4 py-3 text-sm border-b">
                <span class="block text-white">{{user.get_full_name}}</span>
                <span class="block text-gray-200">{{user.email}}</span>
            </div>
            <ul class="p-2 text-sm text-body font-medium">
                <li @click="open = false">
                    <a href="{% url 'users-profile' %}" hx-get="{% url 'users-profile' %}" hx-push-url="true" hx-target="#page-container" hx-swap="innerHTML" 
                        class=" inline-flex items-center w-full p-2  text-gray-200 hover:bg-gray-700 hover:text-white hover:rounded-lg">View
                        Profile</a>
                </li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="inline-flex items-center w-full p-2  text-gray-200 hover:bg-gray-700 hover:text-white hover:rounded-lg">
                        Logout
                    </button>
                </form>
            </ul>
        </div>
    </div>
</div>