{% load static %}
<div class="bg-slate-950 p-3 flex items-center flex-wrap justify-between">

    <div class="flex items-center text-white gap-x-3">
        <p class="text-3xl font-extrabold font-mono mr-5 hover:scale-105">Gurukul</p>
        <a href="{% url 'users-dashboard' %}" class=" font-semibold hover:text-blue-400">Dashboard</a>
    </div>
    <div class="relative flex items-center text-white" x-data="{ open: false }">
        <button @click="open = ! open" type="button" class="  flex text-sm rounded-full focus:ring-2">
            {% if user.profile_photo %}
            <img class="w-10 h-10 p-1 rounded-full" src="{{ user.profile_photo.url }}" alt="Profile Picture">
            {% else %}
            <img class="w-10 h-10 p-1 rounded-full" src="{% static 'users/images/default_profile.png' %}"
                alt="Default profile">
            {% endif %}
        </button>
        <!-- Dropdown menu -->
        <div  x-show="open" @click.outside="open = false" class="absolute right-0 top-full z-50 rounded-base shadow-lg  bg-slate-950">
            <div class="px-4 py-3 text-sm border-b">
                <span class="block text-white">{{user.first_name}} {{user.last_name}}</span>
                <span class="block text-gray-200">{{user.email}}</span>
            </div>
            <ul class="p-2 text-sm text-body font-medium">
                <li>
                    <a href="{% url 'users-profile' %}"
                        class=" inline-flex items-center w-full p-2  text-gray-200 hover:bg-gray-700 hover:text-white hover:rounded-lg">View
                        Profile</a>
                </li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="inline-flex items-center w-full p-2  text-gray-200 hover:bg-gray-700 hover:text-white hover:rounded-lg">
                        Logout
                    </button>
                </form>
            </ul>
        </div>
    </div>
</div>