{% extends "base.html" %}
{% block content %}

<main class="flex flex-col items-center justify-center flex-auto">
    <!-- flex-auto grows or shrinks along the main axis of the flex container, means if parent flex-col, flex-auto on child will take remaining vertical space.
    If flex-row it will take remaining horizontal space. applied to child elements of a flex container to allow them to grow and shrink as needed, 
    This is the child of main base.html flex flex-col div. The div contains two child navbar and this container. This container will shrink
    or grow based on remaining height. If full, it will take the whole height of the page and place itself in center (justify-center, items-center)
    -->
    <div class="px-4 md:px-8 max-w-md">
        <div class="bordered-card  md:w-md">
            <h1 class="text-center ">Change Your Password</h1>
            <form class="space-y-6 mt-10" method="post">
                {% csrf_token %}
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.old_password.label}}</label>
                    <input type="password" name="old_password"
                        class="form-input" 
                        required placeholder="••••••••" />
                </div>
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.new_password1.label}}</label>
                    <input type="password" name="new_password1"
                        class="form-input"
                        required placeholder="••••••••" />
                </div>
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.new_password2.label}}</label>
                    <input type="password" name="new_password2"
                        class="form-input"
                        required placeholder="••••••••" />
                </div>
                <button type="submit"
                    class="cbtn bg-blue-500 hover:bg-blue-700">
                    Update Password
                </button>
            </form>
        </div>
    </div>
</main>
{% include "partials/form_errors.html#form-errors" %}
{% endblock content %}