{% extends "base.html" %}
{% block content %}

<div class="page-container" id="page-container">
    {% partialdef password-change inline %}
    <div class="flex flex-col items-center justify-center flex-auto">
        <div class="bordered-card  md:w-md">
            <h1 class="text-center ">Change Your Password</h1>
            <form class="space-y-6 mt-10" method="post">
                {% csrf_token %}
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.old_password.label}}</label>
                    <input type="password" name="old_password"
                        class="form-input" 
                        required placeholder="••••••••" />
                </div>
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.new_password1.label}}</label>
                    <input type="password" name="new_password1"
                        class="form-input"
                        required placeholder="••••••••" />
                </div>
                <div>
                    <label
                        class="mb-2 text-sm form-label">{{form.new_password2.label}}</label>
                    <input type="password" name="new_password2"
                        class="form-input"
                        required placeholder="••••••••" />
                </div>
                <button type="submit"
                    class="base-button bg-blue-500 hover:bg-blue-700">
                    Update Password
                </button>
            </form>
        </div>
    </div>
    {% include "partials/form_errors.html" %}
    {% endpartialdef %} 
</div>
{% endblock content %}