{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Gurukul{% endblock %}</title>

    {% tailwind_css %}

    <!--HTMX-->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
        integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
        crossorigin="anonymous">
    </script>

</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>

    <main class="flex flex-col min-h-screen bg-black">

        {% if request.user.is_authenticated %}
            {% include 'includes/navbar_authenticated.html' %}

        {% else %}
            {% include 'includes/navbar_public.html' %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
    <!--Alerts-->
    {% if messages %}
    <div class="absolute right-0 bottom-0 z-50">
        {% for message in messages %}
        <div role="alert" class="alert alert-outline m-4 min-w-md max-w-lg opacity-100 transition-opacity duration-1000
        {% if message.tags == 'error' %}
        alert-error 
        {% elif message.tags == 'info' %}
        alert-info
        {% elif message.tags == 'success' %}
        alert-success
        {% elif message.tags == 'warning' %}
        alert-warning
        {% endif %}">
            <span>{{ message }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!--Alert Timeout-->
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            document.querySelectorAll(".alert").forEach(function (alert) {
                // Start a 4s timer to remove op-100 and add op-0
                setTimeout(function () {
                    // After 4 seconds, wait for 1s more, then remove alert
                    alert.classList.remove("opacity-100");
                    alert.classList.add("opacity-0");
                    setTimeout(function () {
                        alert.remove();
                    }, 1000);
                }, 4000);
            });
        });
    </script>

    <footer>
        {% include 'includes/footer.html' %}
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>

</html>