{% load static %}
{% load django_htmx %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Gurukul{% endblock %}</title>

    {% htmx_script %}
    {% tailwind_css %}

    <!--Aphine-->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>

    <main class="flex flex-col min-h-screen md:h-dvh bg-black">

        {% if request.user.is_authenticated %}
            {% include 'includes/navbar_authenticated.html' %}

        {% else %}
            {% include 'includes/navbar_public.html' %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>
        {% include "partials/messages.html" %}
    <!--Alert Timeout-->
    <script>
        function initAlerts(root = document) {
            root.querySelectorAll(".alert").forEach(function (alert) {
                if (alert.dataset.initialized) return; // if timer already initialezed return 
                alert.dataset.initialized = "true";

                // Start a 3s timer 
                setTimeout(function () {
                    // After 3s replace the opacity and remove the alert
                    alert.classList.replace("opacity-100", "opacity-0");
                    setTimeout(() => alert.remove(), 1000);
                }, 3000);
            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            initAlerts();
        });

        document.body.addEventListener('htmx:afterSwap', function (event) {
            initAlerts(event.target);
        });
    </script>

    <footer>
        {% include 'includes/footer.html' %}
    </footer>

    {% block extra_js %}
    {% endblock %}
</body>

</html>