{% extends "base.html" %}

{% block title %}Select User Type{% endblock %}

{% block content %}


<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                        <h3 class="font-weight-light my-1 text-center">User Type Confirmation</h3>
                    </div>
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <div id="form_errors">
                            {% for _, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST" action="{% url 'social:complete' backend %}">
                            {% csrf_token %}
                            {% for value, label in user_type_choices %}
                            <div class="form-row d-flex justify-content-center">
                                <div class="col-md-3 offset-md-1">
                                    <div class="form-group">
                                        <label class=" mb-1">
                                            <input type="radio" name="user_type" value="{{ value }}" required>
                                            {{ label }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-row d-flex justify-content-center">
                                <div class="col-md-8 offset-md-1">
                                    <div class="form-group mt-3 mb-1">
                                        <button type="submit" class="col-md-10 btn btn-dark">Continue</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}