{% extends "base.html" %}

{% block title %}User Type Confirmation{% endblock %}

{% block content %}

<main class=" px-4 md:px-8 ">
    <div class=" min-h-screen flex flex-col items-center justify-center">
        <div class="max-w-md w-full">
            <div class="p-6 rounded-lg  border  shadow-xs md:p-8 bg-neutral-800 border-neutral-700 ">
                <h1 class=" text-center text-3xl font-bold text-slate-50">Who are you?</h1>
                <form class="mt-5 space-y-3" method="post" action="{% url 'social:complete' backend %}">
                    {% csrf_token %}
                    {% for value, label in user_type_choices %}
                    <div class="flex justify-center items-center">
                        <label class="font-medium text-lg inline-block text-slate-50">
                            <input type="radio" name="user_type" value="{{ value }}" class="scheme-dark mr-2" required>
                            {{ label }}
                        </label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="w-full py-2 px-3.5 mt-3 text-md rounded-md font-semibold cursor-pointer tracking-wide text-white border border-blue-600 bg-blue-600 hover:bg-blue-700 transition-all focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500">
                        Continue</button>
                </form>
            </div>
        </div>
    </div>
</main>

{% include "partials/form_errors.html#form-errors" %}

{% endblock content %}