{% extends "base.html" %}
{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block content %}

<div class="p-5 lg:p-10">
    <div class="flex flex-col justify-center items-center">
        
        <div class="grid grid-cols-1 2xl:grid-cols-2 gap-5 2xl:auto-rows-fr">
            <form method="POST" enctype="multipart/form-data" id="profile-form" class="space-y-5 w-full max-w-4xl">
                {% csrf_token %}
                <div class="flex justify-end w-full">
                    <a href="{% url 'password-change' %}" class="bg-red-500 hover:bg-red-900 text-white font-bold py-2 px-4 border border-red-700 rounded-lg">
                        Change Password
                    </a>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:auto-rows-fr">
                    <!--auto-rows-fr enables explicitly-created grid rows to automatically expand to fill an equal fraction of the remaining vertical space in other grid cards. 
                    Suppose there are 4 cards in a grid layout, one of the two on the top row is 800 px, everyone else is 400px. By default the top row will be 800px and second 
                    row is 400px but using auto-row-fr, it will make the second row 800 px too, giving you a even layout. -->
                    <div class="flex flex-col lg:flex-row lg:col-span-2 border border-neutral-700 p-4 lg:p-8 rounded-2xl shadow-sm gap-y-5 lg:gap-x-10 h-full">
                        <div class="flex flex-col justify-center items-center gap-y-1 w-full lg:w-auto lg:flex-shrink-0"> <!--flex-shrink-0 prevents the div from shrinking  -->
                            {% if user.profile_photo %}
                            <img class="w-30 h-30 p-1 rounded-full ring-2 ring-gray-500" src="{{ user.profile_photo.url }}" alt="Profile Picture">
                            {% else %}
                            <img class="w-30 h-30 p-1 rounded-full ring-2 ring-gray-500" src="{% static 'users/images/default_profile.png' %}" alt="Default profile">
                            {% endif %}
                            <label class="block my-1 text-sm font-medium text-heading">Upload new</label>
                            {{ form.profile_photo }}
                        </div>
                        
                        <div class="flex flex-col lg:flex-row items-center lg:items-start justify-center w-full gap-x-5">
                            <div class="hidden lg:flex lg:flex-col lg:gap-y-5 w-auto flex-shrink-0 whitespace-nowrap pt-2">
                                <label class="font-medium text-md inline-block text-slate-50">{{form.first_name.label}}</label>
                                <label class="font-medium text-md inline-block text-slate-50">{{form.last_name.label}}</label>
                                <label class="font-medium text-md inline-block text-slate-50">{{form.user_type.label}}</label>
                            </div>
                            <div class="flex flex-col gap-y-3 w-full flex-1">
                                {{ form.first_name }}
                                {{ form.last_name }}
                                {{ form.user_type }}
                            </div>
                        </div>
                    </div>
                    <div class="border border-neutral-700 rounded-2xl flex justify-center items-center gap-x-3 p-4 lg:p-8 h-full">
                        <div class="hidden lg:flex lg:flex-col justify-center items-center lg:gap-y-5">
                            <label class="font-medium text-md inline-block text-slate-50">{{form.email.label}}</label>
                            <label class="font-medium text-md inline-block text-slate-50">{{form.phone_number.label}}</label>
                        </div>
                        <div class="flex flex-col justify-center items-center gap-y-3 w-full">
                            {{ form.email }}
                            <div class="inline-flex gap-x-2 w-full">
                                {{ form.phone_number }}
                            </div>
                        </div>
                    </div>
                    <div class="border border-neutral-700 rounded-2xl flex justify-center items-center gap-x-3 p-4 lg:p-8 h-full">
                        <div class="hidden lg:flex lg:flex-col items-center lg:gap-y-5">
                            <label class="font-medium text-md inline-block text-slate-50">{{form.date_of_birth.label}}</label>
                            <label class="font-medium text-md inline-block text-slate-50">{{form.bio.label}}</label>
                        </div>
                        <div class="flex flex-col justify-center items-center gap-y-3 w-full">
                            {{ form.date_of_birth }}
                            {{ form.bio }}
                        </div>
                    </div>
                </div>
                <div class="flex justify-between">
                    <button type="submit" id="submit-form" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 border border-blue-900 rounded-lg focus:ring-2 focus:ring-blue-500">
                        Save Changes
                    </button>
                    <button type="reset" class="w-25 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 border border-indigo-700 rounded-lg">
                        Reset
                    </button>
                </div>
            </form>
            <!-- relative to the parent, stick the image to all four corners. -->
            <div class="relative">
                <img src="{% static 'users/quotes/1.png' %}" class="absolute inset-0 w-full h-full object-contain"
                    alt="login img" />
            </div>
        </div>
    </div>
</div>

{% include "partials/form_errors.html#form-errors" %}

{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const profileForm = document.getElementById("profile-form");
        const submitButton = document.getElementById("submit-form");

        profileForm.addEventListener("submit", function () {
            submitButton.disabled = true;
            submitButton.textContent = "Saving...";
        });
    });
</script>
{% endblock extra_js %}