{% extends "base.html" %}

{% block title %}Email Updated{% endblock title %}

{% block content %}

<main class="flex flex-col items-center justify-center flex-auto">
    <div class="px-4 md:px-8 max-w-md">
        <div class="bordered-card">
        <h1 class=" text-center mb-3">Email Updated</h1>
            <p class="text-base form-label text-center ">
                Your email address has been changed successfully.
                For your security, you have been signed out of all devices.
                Please log in again using your <strong>new email address</strong>.
            </p>
            <div class="flex justify-center items-center">
                <a href="{% url 'login' %}" class="cbtn bg-blue-600 hover:bg-blue-700 mt-5">
                    Login
                </a>
            </div>
        </div>
    </div>
</main>

{% endblock content %}